/* RESET */
.debug {
    border: 1px solid black;
    min-height: 50px;
}

/* COLOR */
.bg-red {
    background-color: red;
    min-height: 40px;
}

/* GENERAL */
.box-text {
    background: #006cfa;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    min-height: 40px;
}

.box-green {
    background-color: greenyellow;
    border: 1px solid #006cfa;
    align-self: center;
}