/* RESET */
.debug {
    border: 1px solid black;
}

/* COLOR */
.bg-white {
    background-color: #fff;
    min-height: 35px;
}

.bg-black {
    background-color: #000;
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-violet {
    background-color: #750075;
}

.bg-orange {
    background-color: #ff9800;
}

/* GENERAL */
.box-text {
    background: #006cfa;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    min-height: 40px;
}

.box-green {
    background-color: greenyellow;
    border: 1px solid #006cfa;
    align-self: center;
}